<div class="products">
  <app-empty-state [icon]="faExclamationCircle" text="Oops, looks like we ran out of this category" subText="Try to come back tomorrow." [show]="!products || products.length === 0"></app-empty-state>
  <div *ngFor="let product of products">
    <app-card>
      <div class="product-item">
        <div [routerLink]="['/details', product.id]">
          <img
          src={{product.image}}/>
          <div id="name">{{product.name}}</div>
          <div id="description">{{product.description}}</div>
        </div>
        <div id="price">
          <app-chip
            [value]="product.price | currency: 'euro': 'symbol'"
            modifier="product-price"
          ></app-chip>
          <app-cart-button modifier="small" [selectedProduct]="product"></app-cart-button>
        </div>
      </div>
    </app-card>
  </div>
</div>
